{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "proseWrap": "never",
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false
}